.underHeader-wrapper {
  background: #0e1527;
  height: 100%;
  color: white;
  padding-bottom: 10px;
}

.underHeader_item {
  padding: 0 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common-underHeader-div {
  width: 40%;
}

.my-text-underHeader h2,
.my-text-underHeader h1 {
  font-size: 40px;
  margin: 8px 0;
  font-family: "Roboto", sans-serif;
}
.my-text-underHeader h2 span {
  color: #16a6ee;
}
.my-text-underHeader p {
  margin-top: 15px;
  text-transform: lowercase;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: rgb(204, 197, 197);
}
.underHeader-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.underHeader-buttons button {
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 5px;
  background: #16a6ee;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.2 ease-in-out;
}
.underHeader-buttons button:hover {
  background: #0f86c2;
}

.underHeader-buttons button:last-child {
  background: #1e293b;
}

.underHeader-buttons button:last-child:hover {
  background: #2c3d5a;
}

@media screen and (max-width: 762px) {
  .underHeader-wrapper {
    height: 100%;
    margin-top: 30px;
  }
  .underHeader_item {
    display: block;
  }
  .common-underHeader-div {
    width: 100%;
    margin: 20px 0;
  }
  .underHeader_item {
    padding: 0 20px;
    padding-top: 20px;
  }
}
